.wrapper {
  width: 100%;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 0 1.5rem 2rem;

  @media (max-width: 328px) {
    height: 100%;
    padding: 1rem;
  }
}

.wrapper h2 {
  font-weight: 500;
  font-size: 1.125rem; /* 18px */
  text-align: center;
  margin-bottom: 2rem;

  @media (max-width: 328px) {
    font-size: 1rem;
    margin-top: 1.5rem;
  }
}

.wrapperContent {
  display: flex;
  @media (max-width: 328px) {
    flex-direction: column-reverse;
  }
}
