.selicContainer {
  width: 100%;
  max-width: 1120px;
  margin: 4rem auto 0;
  padding: 0 1.5rem;
}

.selicContainer h2 {
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1.5rem;

  @media (min-width: 1284px) {
    font-size: 1.25rem;
  }
}
