.selicChartContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1.2rem;
  @media (min-width: 1284px) {
    width: 650px;
    align-items: center;
  }
}
